<app-navbar
[cartNumber]="cartNumber"></app-navbar>

<div class="container mt-5">
    <div class="row">
        <div class="col-3">
            <h2>Categories</h2>
            <ul class="list-group" id="categories">
                <div *ngFor="let category of categories; let i = index">
                    <li class="list-group-item">{{ category.name }}</li>
                </div>
            </ul>
        </div>
        <div class="col-9">
            <h2>Liste des produits</h2>

            <div class="row mb-3">
                <div class="col-4">
                    <input id="search-text" type="text" class="form-control" placeholder="search...">
                </div>
                <div class="col-2">
                    <button class="btn btn-primary" onclick="search()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <div class="col-2">
                    <input id="prix-min" type="text" class="form-control" placeholder="Prix Min ">
                </div>
                <div class="col-2">
                    <input id="prix-max" type="text" class="form-control" placeholder="Prix Max ">
                </div>
                <div class="col-2">
                    <button class="btn btn-primary" onclick="filter()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

            <div id="products" class="row row-cols-1 row-cols-md-3 g-4">
                <div *ngFor="let product of productList; let i = index">
                   <app-product-item
                   [product]="product"   
                   (item)="addToCart($event)">
                   </app-product-item>
                </div>
            </div>

        </div>
    </div>
</div>