<!--<div class="col">
    <div class="card">
        <img src="${products[i].image}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">${products[i].nom}</h5>
            <p class="card-text">${products[i].prix} DT</p>
        </div>
        <div class="card-footer d-grid gap-2">
            <button  onclick="addToCart(${products[i].serie})" class="btn btn-block btn-primary btn-sm btn-basket">
                <i class="fa fa-plus"></i> Ajouter Panier
            </button>
        </div>
    </div>
</div>-->